:root {
	--color-1: #000;
}

@font-face {
    font-family: 'e-Ukraine';
    src: local('e-Ukraine'), local('e-Ukraine-Regular'),
         url('../fonts/e-Ukraine-Regular.woff') format('woff2'),
         url('../fonts/e-Ukraine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'e-Ukraine', sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: var(--color-text);
	line-height: 1.5em;
	background: #fff;

}

* {
	box-sizing: border-box;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
}
h2 {
	line-height: 1.1em;
}

p {
	margin: 0;
}


.container {
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}

a {
	text-decoration: none;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
    appearance: none;
    padding: 0;
    background: transparent;
    border: none;
}



/*  style  */


.app {
	background-color: #8DC7F5;
	width: 100%;
	max-width: 450px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top {
	padding-top: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.logo {
	height: 55px;
	width: 55px;
}

.logo-img {
	width: 100%;
	height: 100%;
}

.qr {}

.qr__btn {
	width: 24px;
	height: 24px;
}

.qr__icon {
	width: 100%;
	height: 100%;
}

.cards {}

.card {
	border-radius: 12px;
	width: 100%;
	box-shadow: 0px 54px 30px -30px rgba(2, 3, 12, 0.22);	
}
.card.active {
	padding: 36px 0;
}

.card_color {
	background-color: #FFF797;
}

.card h2 {
	font-size: 24px;
	display: inline-flex;
	align-items: center;
}

.card__container {
	padding: 0 17px;
}

.card__title {}

.card__title-img {
	width: 24px;
	height: 24px;
	margin-left: 10px;
}

.card__data {}

.data {
	display: flex;
	grid-gap: 20px;
	padding-top: 32px;
	padding-bottom: 28px;
}

.data__photo-box {
	background-color: #AEDCFF;
	padding: 3px;
	width: 166px;
	height: 211px;
}

.data__photo {
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.data__text-box {}

.data__list {
	display: grid;
	grid-gap: 10px;
}

.data__item {}

.data__title {}

.data__text {}

.card__marquee {
	font-size: 14px;
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

.card__marquee_1 {
	background: linear-gradient(90deg, #6185FF 0%, #A9FCE7 67.75%);
}

.card__bottom {
	display: flex;
	justify-content: space-between;
	align-items: end;
	margin-top: 23px;
}

.card__name {
	margin-bottom: 4px;
}

.card__menu-btn {
	width: 32px;
	height: 32px;
}

.card__menu-btn img {
	width: 100%;
	height: 100%;
}

.menu-wrapper__inner {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-gap: 8px;
	margin-bottom: 25px;
}

.bullets {
	display: flex;
	grid-gap: 10px;
	align-items: center;
}

.bullet {
	background: var(--color-1);
	height: 9px;
	width: 9px;
	display: block;
	border-radius: 10px;
	opacity: 0.35;
}

.bullet_active {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.bullet_small {
	width: 7px;
	height: 7px;
}


.menu {
	display: flex;
	justify-content: space-between;
	padding-bottom: 18px;
}

.menu__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.menu__icon {
	width: 26px;
	height: 26px;
}

.menu__text {
	font-size: 12px;
}




.cards {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 20px;
}

.test {
	display: block;
	background-color: #C8E3FA;
	width: 20px;
	height: 85%;
}

.test-1 {
	border-radius: 0 9px 9px 0;
}
.test-2 {
	border-radius: 9px 0 0 9px;
}

.card {

}






















